.custom-container{
	color : black;
	padding: 5px;
}

.sticky-button-container {
    position: -webkit-sticky;  /* For Safari */
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
    padding: 10px;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
}